<form action="/upload" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" />

  <label for="age">age</label>
  <input id="age" type="number" name="age" max="150" min="0" />

  <button type="submit">Submit</button>
  <button type="reset">Clear</button>
</form>